* {
    margin: 0;
    padding: 0;
    background-color: #fefbe9;
    background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

h1 {
    color: #183a1d;
    text-align: center;
}

span {
    display: block;
    text-align: center;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    bottom: 0;
    color: #183a1d;
    font-size: 24px;
    font-weight: 500;
}

.titles {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 200px;
    right: 200px;
    top: 150px;
    line-height: 40px;
    margin: auto;
    bottom: 0;
    color: #183a1d;
    font-size: 20px;
    font-weight: 500;
}