/* default setting */
html {
  background-color: #fefbe9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

/* website logo */
.header img {
  float: left;
  margin: 0px 10px 0 0;
  width: 5%;
  height: auto;
}

/* website name */
.header h1 {
  color: #183a1d;
  font-size: 25px;
  margin: 5px 10px 0px 0;
  display: inline-block;
  font-family: "Berkshire Swash", cursive;
}

.header {
  padding: 0px 5px;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

/* social button */
.header a {
  float: right;
  font-size: 30px;
  padding: 0;
  margin: 0px 5px;
  color: #4f3d32;
}

/* navigation bar */
.navbar {
  width: 100%;
  background-color: #e1eedd;
  overflow: auto;
}

/* navigation bar items */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #183a1d;
  text-decoration: none;
  font-size: 15px;
}

/* navigation bar on mouse-over */
.navbar a:hover {
  background-color: #f0a04b;
}

/* style the search bar input container */
.navbar .search-container {
  float: right;
}

/* style the input field inside the navbar */
.navbar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  border: none;
}

/* style the button inside the input container */
.navbar .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  cursor: pointer;
  color: #183a1d;
}

.navbar .search-container button:hover {
  background: #ccc;
}

/* footer */
.footer-btm {
  background-color: #e1eedd;
  color: #183a1d;
  text-align: center;
  margin-top: 10px;
  padding: 30px;
}

footer p {
  font-size: small;
}

footer a {
  font-size: small;
}

footer a {
  font-size: small;
  text-decoration: none;
  color: inherit;
}

.list {
  margin-bottom: 15px;
}

.aboutmysite img {
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
}

